@page "/"
@page "/{Page:int}"
@inject IBasicRepository<Contact> repo

@using System.Diagnostics

<ListControl Page="Page" FetchContactsAsync="(contacts) => FetchAsync(contacts)" />
<p>
   Number of items: @Contacts.Count
</p>

@code {


    [Parameter]
    public int Page { get; set; }

    public ICollection<Contact> Contacts { get; set; } = new List<Contact>();

    public async Task FetchAsync(
        Action<ICollection<Contact>> contacts)
    {
        Debug.WriteLine($"index.razor: before FetchAsync");
        contacts((await repo.GetListAsync()).ToList());

        Debug.WriteLine($"index.razor: after FetchAsync");
    }

        protected async override Task OnInitializedAsync()
        {
           Contacts = await repo.GetListAsync();
        Console.WriteLine(Contacts.Count);
           // return await base.OnInitializedAsync();
        }
}